@import "../variable";

.head {
  background-color: $pink;
  height: 45vw;

  @extend .flex-row;
  justify-content: space-between;
  align-items: flex-start;

  padding: 15px 20px;

  .head-left {
    @extend .flex-col;
    align-items: flex-start;
    .avatar {
      border: 2px solid $white;
      margin-bottom: 15px;
    }
    .vip-name {
      margin-left: 12px;
      font-size: 13px;
      color: $white;
      @extend .flex-row;
      align-items: center;

      .level {
        @include sm-font(9px);
        height: 20px;
        line-height: 20px;
        padding: 0 3px;
        border: 1px solid $white;
        border-radius: 4px;
      }
    }

    .vip-tag {
      background-color: $light-pink;
      margin-left: 4px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: $pink;
      @include sm-font(9px);
      height: 20px;
      line-height: 20px;
      padding: 0 3px;
      border: 2px solid $white;
      border-radius: 5px;
    }

    .coin {
      color: $white;
      margin-left: 12px;
      font-weight: 300;
      font-size: 13px;
    }
  }

  .head-right {
    .sm-avatar {
      border: 2px solid $light-pink;
      margin-left: 15px;
    }
  }
}

.body {

}